h1 { color: #233E8B; font-family: 'Do Hyeon', sans-serif;
font-family: 'Lobster', cursive; }

body {text-align: center; font-family : 'Oswald', sans-serif;}
h4,ol,ul {text-align: left;}

h2 { font-size: 24px; font-family: 'Do Hyeon', sans-serif;
font-family: 'Lobster', cursive; }

h3 {font-size: 27px; font-family: 'Do Hyeon', sans-serif;
font-family: 'Lobster', cursive; }

.span-rouge {color: #962E2D;}

.span-marine {color: #233E8B;}

.background { background : #BFE2F5; }

.drapeau {
	background: grey;
	height: 40px;
	width: 75px;
	display: flex; 
	justify-content: center;
	justify-content: space-between;
	align-items: center;
	}

.blue {
	background: blue;
	height: 40px;
	width: 25px;

	}


.white {
	background: white;
	height: 40px;
	width: 25px;

	}

.red {
	background: red;
	height: 40px;
	width: 25px;

	}

.my-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #962E2D 
	}

.menu {
	display: flex;
	justify-content: flex-end;
	color: #FDDF6B
	}

.items {
	margin: 10px 30px
	}

.aligner {
	margin-left: 50px; margin-right: 300px
	}

.aligner2 
{
	margin-left: 350px; margin-right: 50px
	}

.separation {
	display: flex; 
	justify-content: space-between;
	align-items: center;
	justify-content: space-around;

	}

.frame2 {
	border : 2px solid #962E2D;
	padding : 5px 5px;
	background: #962E2D;
 	box-shadow: 5px 5px 10px grey;
 	border-radius: 5px;
	}

.banner {
  background-size: cover;
  background-position: center;
  padding: 35px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 25px;
  font-weight: bold;

}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #962E2D;
  transition: background 0.3s ease;
}

